<div class="main-content">
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                        <li class="active">Fleet Management</li>
                    </ul><!-- /.breadcrumb -->
                   

                </div>

            <div class="hr hr20 hr-dotted"></div> 
    <div class="col-md-12">
        <h3 style="font-weight: 600;   text-decoration: underline;">Public Transport Movement</h3>
    </div>
            <div class="row" style="padding-top: 40px;">                
               
                                <div class="col-md-12" style="box-shadow: 10px 10px 5px #888888">
                    <!--<agm-map  [latitude]="lat" [longitude]="lng" style="height: 535px; width: 1100px;" [zoom]="8">

                        <agm-marker *ngFor="let m of markers;"   [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="'../../assets/images/avatars/bus-icon.png'"></agm-marker>
                       
                    </agm-map>-->
                                    <iframe style="height:550px; width:100%" src="http://ec2-13-228-220-157.ap-southeast-1.compute.amazonaws.com/FleetTraffic.html"></iframe>
                                    
                </div>
               
            </div>

        
    
        </div>
  