
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQSGorMLvpQdsuyJRX7hcscupJgq-_yis"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<div class="main-content">
    <div class="main-content-inner">

        <div class="container-fluid">

            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>
                    <li class="active">Street Light</li>
                </ul><!-- /.breadcrumb -->


            </div>

            <div class="hr hr20 hr-dotted"></div>
            <div class="container-fluid">
                <div class="col-md-12" style="padding-bottom: 25px;">

                    <div class="col-md-12" (click)="showdetails('910');" style="height:290px;width:50%">
                        <img src="../../assets/images/streetLightOff.png" *ngIf="!edited1" class="im" />

                        <img src="../../assets/images/streetLight.png" *ngIf="edited1" />
                    </div>

               


                </div>
                <br /><br />
                <div class="hr hr20 hr-dotted"></div>

                <div class="col-md-12">

                    <div style="padding-left:20px" class="col-lg-6 col-md-6 col-xs-12">
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <i class="ion ion-battery-charging"></i>
                                <h3 class="box-title">  Voltage (Volt)</h3>


                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="display: block;">
                                        <canvas baseChart width="400" height="200"
                                                [datasets]="linevoltageChartData"
                                                [labels]="linevoltageChartLabels"
                                                [options]="lineChartOptions"
                                                [colors]="lineChartColors"
                                                [legend]="lineChartLegend"
                                                [chartType]="lineChartType"
                                                (chartHover)="chartHovered($event)"
                                                (chartClick)="chartClicked($event)"></canvas>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>

                    <div style="padding-left:20px" class="col-lg-6 col-md-6 col-xs-12">
                        <div class="box box-solid box-primary">
                            <div class="box-header with-border">
                                <i class="fa fa-calendar-minus-o"></i>
                                <h3 class="box-title">  Current (Ampere)</h3>


                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div style="display: block;">
                                        <canvas baseChart width="400" height="200"
                                                [datasets]="linecurrentChartData"
                                                [labels]="linecurrentChartLabels"
                                                [options]="lineChartOptions"
                                                [colors]="lineChartColors"
                                                [legend]="lineChartLegend"
                                                [chartType]="lineChartType"
                                                (chartHover)="chartHovered($event)"
                                                (chartClick)="chartClicked($event)"></canvas>
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>



                </div>


            </div>


        </div>



    </div>
</div>
