<style>

    
.navbar {
    background-color:#132543 !important;
}
</style>

<nav class="navbar navbar-transparent navbar-absolute" style="margin-left:0px !important">
    <div class="container-fluid">
        <div class="navbar-header">
         <div>
                    <p style="text-align: center;"> 
                        <img src="../assets/images/avatars/smartcity_logo.png" style="height: 45px;" />
                     <span class="pull-right" style="font-size: 20px;font-weight: 700; font-family: serif;">
                         <img src="../assets/images/avatars/powered.png" style="height: 25px;" />
                        </span>
                    </p> 
                  
                   
                </div>

            <!-- <a class="navbar-brand page_header" href="#">{{getTitle()}}</a> -->
        </div>
    </div>
</nav>
